$black: #141414;
$white: #fdfcfd;
$gray: #36454f;

$darkblue: #05050f;

$gold: #fecb52;
$bronze: #cd7f32;

// skill colors
$health: #f6f6f9;
$melee: #bb0a1e;
$ranged: #69852d;
$defense: #629ade;
$slayer: #320f0d;

$farming: #046307;
$fishing: #006994;
$hunting: #4d4743;
$mining: #888c8d;
$woodcutting: #deb887;

$cooking: #7851a9;
$crafting: #bec2cb;
$fletching: #e4d00a;
$herbalism: #265F26;
$leatherworking: #624a2e;