@import '../../util/variables';

.Artisan {
	min-height: 100vh;

	.skillMenu {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding-bottom: 3em;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 75%;
			height: 75px;

			margin: 0.5em 0;
			padding-top: 7px;

			color: $white;
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 2px;
			line-height: 1;
			text-shadow: 1px 1px $black;

			background-color: $black;
			border-radius: 5px;
			border: 3px ridge;

			transition: all 1s ease;

			&.cooking{
				border-color: $cooking;

				&:hover {
					background-color: rgba($cooking, 0.8);
				}
			}

			&.crafting{
				border-color: $crafting;

				&:hover {
					background-color: rgba($crafting, 0.8);
				}
			}
			
			&.fletching{
				border-color: $fletching;

				&:hover {
					background-color: rgba($fletching, 0.8);
				}
			}

			&.herbalism{
				border-color: $herbalism;

				&:hover {
					background-color: rgba($herbalism, 0.8);
				}
			}

			&.tanning{
				border-color: $tanning;

				&:hover {
					background-color: rgba($tanning, 0.8);
				}
			}
			
			&.smithing{
				border-color: $smithing;

				&:hover {
					background-color: rgba($smithing, 0.8);
				}
			}

		

			span {
				font-size: 12px;
				font-style: italic;
				font-weight: 400;
				line-height: 1.2;
			}
		}
	}

	.taskList {
		width: 85%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;

		.task {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: $white;

			width: 120px;
			height: 175px;

			margin-bottom: 1em;
			padding-top: .25em;

			background-color: $black;
			border-top: 5px ridge;
			border-radius: 5px;

			cursor: pointer;

			&.checked {
				box-shadow: 5px 5px 10px $gold;
			}

			.taskCategory {
				text-align: center;
				font-size: 14px;
				line-height: 1.3;
				.taskName {
					font-size: 20px;
					text-transform: capitalize;
					font-weight: 600;
					line-height: .9;
					letter-spacing: 1px;
				}
			}

			img {
				width: 50px;
				height: 50px;
				// background-color: $white;
				text-align: center;
				margin: 5px auto;
			}
						
			.taskInfo, .ownedResource {
				margin-top: auto;
				margin-bottom: 0;
			}

			.ownedResource {
				font-style: italic;
			}

			&.cooking {
				border-color: $cooking;
			}

			&.crafting {
				border-color: $crafting;
			}

			&.fletching {
				border-color: $fletching;
			}

			&.herbalism {
				border-color: $herbalism;
			}

			&.tanning {
				border-color: $tanning;
			}

			&.smithing {
				border-color: $smithing;
			}
		}
	}
}